body { 
	padding: 60px;
	margin: 0 auto;
}

h1 { color: red; }

.wall { background-color: lightblue; }

.grid { background-color: lightyellow; }

.board{
	padding-left: 260px;
	font-size:150%;
	font-family:sans-serif;
}

.myrow{
	clear:left;
}

.myrow div {
	width:2em;
	height:2em;
	line-height:2em;
	text-align:center;
	background-color:#aaa;
	border:1px solid #ccc;
	float:left;
	 -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.myrow div.vwall {
	width: 0.1em;
	background-color:#000000;
	border:1px solid #000000;
}

.myrow div.hwall {
	height: 0.1em;
	background-color:#000000;
	border:1px solid #000000;
}

.myrow div.hwallspacer {
	width: 0.1em;
	height: 0.1em;
	background-color:white;
	border:1px solid white;
}
.myrow div.target{
	background-color:#000000;
}
.myrow div.selected{
	background-color:#ffff00;
	border:1px solid #ccc;
}

.bluepiece {
	background-color: lightblue;
}
.yellowpiece {
	background-color: lightyellow;
}